@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    --tile-height: min( calc( 0.073 * 100vh ), calc( 0.054 * 100vw ) );
    --chosen-color: #ffffff;
    --white: #ebe2d8;
    --border: #bdb5ad;
    --border-shadow: #79736d;
    --hint-color: #ffd297;
    --main-color: rgb(27, 102, 158);
    --main-color-shadow: rgb(19, 75, 117);
    --bg-dark: #d6cbbf;
    --text-light: #504c47;
    --red: #df2a2a;
    color: black;
    font-family: 'Geologica', sans-serif;
}
  
body {
    height: 100vh;
    background: rgb(30,97,45);
    background: radial-gradient(circle, rgba(30,97,45,1) 0%, rgba(62,139,79,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--white);
    transition: .2s;
    box-shadow: 0px 4px var(--main-color-shadow);
}
button.iziToast-close {
    box-shadow: none;
}
button.iziToast-close:hover {
    box-shadow: none;
    transform: none;
}
button.iziToast-close:active {
    box-shadow: none;
    transform: none;
}
button:hover {
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 6px var(--main-color-shadow);
    transform: translateY(-2px);
}
button:active {
    box-shadow: 0px 2px var(--main-color-shadow);
    transform: translateY(2px);
}

ul {
   list-style: none;
   padding-left: 10px; 
}
ul#friend-list {
    padding: 0;
    min-width: 213px;
}

li {
    background-color: var(--bg-dark);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: .2s;
}
.interactive-list li.chosen {
    background-color: var(--main-color);
    color: var(--white);
    transition: .2s;
}
.interactive-list li.chosen:hover {
    transform: none;
    cursor: auto;
}
.interactive-list li:hover {
    cursor: pointer;
    transform: translateX(10px);
    transition: .2s;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    outline: 1px solid  var(--text-light);
    border-radius: 5px;
    padding: 7px;
    transition: .1s;
    width: 193px;
}
label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-light);
    width: 100%;
    transition: .1s;
}
label:not(:first-child) {
    margin-top: 10px;
}

label.focused {
    color: var(--main-color);
    transition: .1s;
}
input:focus {
    outline-color: var(--main-color);
    color: var(--main-color);
    transition: .1s;
}

table {
    table-layout: fixed; 
}

td {
    background-color: var(--bg-dark);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.show {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

.row {
    display: flex;
}

.errorMsg {
    margin-top: 5px;
    font-style: italic;
    font-size: 15px;
    color: var(--red);
    max-width: 207px;
}

.close-btn, .back-btn {
    position: absolute;
    top: 15px;
}
.close-btn:hover, .back-btn:hover {
    cursor: pointer;
}
.close-btn i, .back-btn i {
    font-size: 30px;
    color: var(--border-shadow);
}

.close-btn {
    right: 15px;
}

.back-btn {
    left: 15px;
}

.back-btn i {
    font-size: 26px;
}

.spacer {
    min-height: 16px;
}

.tiny-btn {
    margin-top: 20px;
    color: var(--text-light);
}
.tiny-btn:hover {
    cursor: pointer;
}

#cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 1s opacity;
}

#ui {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    z-index: 11;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--border);
    display: flex;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s top;
}

#ui button {
    margin-top: 20px;
}

#ui h1 {
    margin-bottom: 20px;
}
#ui h2 {
    color: var(--border-shadow);
    margin-bottom: 10px;
}

#ui #stock-boards {
    margin-right: auto;
    margin-left: 10px;
}

.search-bar {
    position: relative;
    margin-bottom: 20px;
}
.search-bar input {
    padding-right: 40px;
}
.search-bar input:focus + #search-btn i {
    color: var(--main-color);
}
.search-bar #search-btn i {
    font-size: 20px;
    color: var(--text-light);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#search-btn:hover {
    cursor: pointer;
}

/* USER ACCOUNT */

#userDataDisplay {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pfpDisplay {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100px;
    outline: 2px solid var(--border);
    margin-right: 20px;
}

.usernameDisplay {
    font-size: 20px;
    color: var(--text-light);
    font-weight: bold;
}

.userDateDisplay {
    text-transform: uppercase;
    color: var(--border-shadow);
    font-weight: bold;
    font-size: 12px;
}

#friendsDisplay, #friendsDisplay i {
    text-transform: uppercase;
    color: var(--border-shadow);
    font-weight: bold;
    font-size: 17px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#friendsDisplay:hover {
    cursor: pointer;
}

#winsDisplay, #winsDisplay i {
    color: var(--main-color);
}
#winsDisplay, #losesDisplay {
    width: 50%;
}
#losesDisplay, #losesDisplay i {
    color: var(--red);
}

/* ============ */

/* FRIENDS */

.friendPfp {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    object-fit: cover;
    outline: 2px solid var(--border);
}

#friend-list {
    max-height: 385px;
    overflow-y: scroll;
}
#friend-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .1s;
    color: var(--text-light);
}
#friend-list li:hover {
    cursor: pointer;
    transition: .1s;
    color: #000;
}
#friend-list li:hover .delete-btn i {
    color: var(--border-shadow);
    transition: color .1s;
}
#friend-list li:hover .invite-btn i {
    color: var(--main-color);
    transition: color .1s;
}
#friend-list p {
    text-align: center;
    font-size: 22px;
    color: var(--text-light);
}
#friend-list p i {
    margin-top: 10px;
    font-size: 60px;
    color: var(--text-light);
}

.friend-menu {
    display: flex;
    margin-left: auto;
    position: relative;
    gap: 10px;
}

.delete-btn {
    position: absolute;
    right: 0;
}
.delete-btn:hover {
    cursor: pointer;
}
.delete-btn i {
    color: var(--border);
    transition: color .1s;
}

.invite-btn:hover {
    cursor: pointer;
}
.invite-btn i {
    color: var(--text-light);
    transition: color .1s;
}

.confirm-btn i {
    color: var(--main-color);
}
.cancel-btn i {
    color: var(--red);
}

#add-friends {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: auto;
    font-size: 23px;
    color: var(--border-shadow);
    transition: color .1s;
}
#add-friends i {
    font-size: 23px;
    color: var(--border-shadow);
    transition: color .1s;
    margin-right: 5px;
}
#add-friends:hover {
    cursor: pointer;
    color: var(--main-color);
    transition: color .1s;
}
#add-friends:hover i {
    color: var(--main-color);
    transition: color .1s;
}



/* ============ */

#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-opt i {
    color: var(--white);
    font-size: 25px;
}
.menu-opt:hover {
    cursor: pointer;
}

#overhead {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

#hint i {
    color: var(--white);
    font-size: 25px;
}
#hint:hover {
    cursor: pointer;
}

#display {
    background-color: var(--white);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 10px;
}

.board {
    display: grid;
    grid-template: 1fr / 1fr;
    position: relative;
    width: calc( 15.47 * var(--tile-height) );
    height: calc( 12.09 * var(--tile-height) );
    margin-top: calc( 2 * var(--tile-height) );
    position: relative;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    pointer-events: none;
}
  
.tile {
    /* outline: 1px solid red; */
    height: calc( var(--tile-height) );
    width: calc(var(--tile-height) * 1.46);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc( -0.214 * var(--tile-height) );
    margin-left: calc( -0.214 * var(--tile-height) );
    pointer-events: auto;
    position: absolute;
    transition: .2s;
    /* opacity: 0; */
    /* animation: tile-in 0.2s ease-out 0s 1 forwards; */
}
.tile img {
    height: 155%;
    width: auto;
    pointer-events: none;
    transition: .2s;
    user-select: none;
}
.tile.selected {
    transform: translate(calc( -0.0429 * var(--tile-height) ), calc( -0.0429 * var(--tile-height) )) !important;
    /* filter: drop-shadow(0px 0px 10px #ee9520) !important; */
    
    transition: .2s;
}
.tile.selected .tile-border {
    outline: calc( 0.0857 * var(--tile-height) ) solid var(--chosen-color);
}
.tile.hint .tile-border {
    outline: calc( 0.0857 * var(--tile-height) ) solid var(--hint-color);
    animation: hint 0.5s linear 0s 2 forwards;
    transition: .2s;
}

.tile-border {
    width: 64%;
    transform: translate(calc( -0.0286 * var(--tile-height) ), calc( -0.0286 * var(--tile-height) ));
    height: 125%;
    pointer-events: none;
    position: absolute;
    border-radius: calc( 0.0429 * var(--tile-height) );
    
}

.tile-clickable {
    position: absolute;
    width: 55%;
    transform: translateX(-2px);
    height: 120%;
    /* outline: 1px solid orange; */
}
.tile-clickable:hover {
    cursor: pointer;
}

.tile-hitbox-left, .tile-hitbox-right {
    position: absolute;
    width: calc( 0.4 * var(--tile-height) );
    height: calc( 0.7 * var(--tile-height) );
    /* outline: 1px solid magenta; */
}
.tile-hitbox-left {
    left: 0;
}
.tile-hitbox-right {
    right: 0;
}

.tile.debug {
    filter: invert(1);
}

@keyframes lift {
    from {}
    to {
        transform: translate(calc( -0.2429 * var(--tile-height) ), calc( -0.2429 * var(--tile-height) ));
        opacity: 0;
    }
}

@keyframes hint {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes tile-in {
    from {
        transform: translate(calc( -1 * var(--tile-height) ), calc( -1 * var(--tile-height) ));
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}