@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    --tile-height: min( calc( 0.073 * 100vh ), calc( 0.054 * 100vw ) );
    --chosen-color: #ffffff;
    --white: #ebe2d8;
    --border: #bdb5ad;
    font-family: 'Geologica', sans-serif;
}
  
body {
    height: 100vh;
    background: rgb(30,97,45);
    background: radial-gradient(circle, rgba(30,97,45,1) 0%, rgba(62,139,79,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template: 1fr / 1fr;
    position: relative;
    width: calc( 15.47 * var(--tile-height) );
    height: calc( 12.09 * var(--tile-height) );
    margin-top: calc( 2 * var(--tile-height) );
    position: relative;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    pointer-events: none;
}
  
.row {
    display: flex;
    margin-top: calc( 0.171 * var(--tile-height) );
    margin-bottom: calc( 0.171 * var(--tile-height) );
    min-height: var(--tile-height);
}
  
.tile {
    /* outline: 1px solid red; */
    height: calc( var(--tile-height) );
    width: calc(var(--tile-height) * 1.46);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc( -0.214 * var(--tile-height) );
    margin-left: calc( -0.214 * var(--tile-height) );
    pointer-events: auto;
    position: absolute;
    transition: .2s;
}
.tile img {
    height: 155%;
    width: auto;
    pointer-events: none;
    transition: .2s;
    user-select: none;
}
.tile.selected {
    transform: translate(calc( -0.0429 * var(--tile-height) ), calc( -0.0429 * var(--tile-height) )) !important;
    /* filter: drop-shadow(0px 0px 10px #ee9520) !important; */
    
    transition: .2s;
}
.tile.selected .tile-border {
    outline: calc( 0.0857 * var(--tile-height) ) solid var(--chosen-color);
    border-radius: calc( 0.0429 * var(--tile-height) );
}

.tile-border {
    width: 64%;
    transform: translate(calc( -0.0286 * var(--tile-height) ), calc( -0.0286 * var(--tile-height) ));
    height: 125%;
    pointer-events: none;
    position: absolute;
}

.tile-clickable {
    position: absolute;
    width: 55%;
    transform: translateX(-2px);
    height: 121%;
    /* outline: 1px solid orange; */
}

.tile-hitbox-left, .tile-hitbox-right {
    position: absolute;
    width: calc( 0.4 * var(--tile-height) );
    height: calc( 0.7 * var(--tile-height) );
    /* outline: 1px solid magenta; */
}
.tile-hitbox-left {
    left: 0;
}
.tile-hitbox-right {
    right: 0;
}

.tile.debug {
    filter: invert(1);
}

#display {
    position: absolute;
    top: 10px;
    background-color: var(--white);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 10px;
}

@keyframes lift {
    from {}
    to {
        transform: translate(calc( -0.2429 * var(--tile-height) ), calc( -0.2429 * var(--tile-height) ));
        opacity: 0;
    }
}